 /* Get angry at stuff here. */
 /*Green 36,200,183
Yellow 255,207,0
Red 234,46,77
Blue 0,105,160
Gray - 166,166,166
*/
 
 .chartContainer {
     width: 500px;
     height: 500px;
     margin: auto;
     height: 600px;
     margin: 0px;
 }
 
 #mainchart {
     width: 500px;
     height: 500px;
 }
 
 #compare {
     margin-top: 2px;
     margin-bottom: 15px;
     text-align: center;
     line-height: 50px;
     font-family: 'Montserrat', sans-serif;
     font-weight: 700;
     background-color: rgba(36, 200, 183, 1);
     color: white;
     width: 100%;
     cursor: pointer;
     z-index: 9999;
 }
 
 .selectButton {
     width: 32.3%;
     margin-top: 5px;
     margin-bottom: 5px;
     text-align: center;
     line-height: 35px;
     height: 35px;
     font-family: 'Montserrat', sans-serif;
     font-weight: 700;
     border-color: rgba(36, 200, 183, 1);
     color: rgba(36, 200, 183, 1);
     cursor: pointer;
     border-width: 1px;
     border-style: solid;
     font-size: 13px;
     transition: background-color 0.3s ease;
     transition: color 0.3s ease;
     user-select: none;
 }

  .selectActive {
     border-color: rgba(36, 200, 183, 1);
     background-color: rgba(36, 200, 183, 1);
     color: white;
     transition: background-color 0.3s ease;
     transition: color 0.3s ease;
 }
 
 .selectContainer {
     display: flex;
     justify-content: space-between;
     width: 500px;
     margin: auto;
 }
 
 #errorDisplay {
     margin: auto;
     margin-top: 2px;
     margin-bottom: 15px;
     text-align: center;
     line-height: 50px;
     font-family: 'Montserrat', sans-serif;
     font-weight: 700;
     background-color: rgba(234, 46, 77, 1);
     color: white;
     width: 100%;
     cursor: pointer;
 }
 
 #query-input {
     box-sizing: border-box;
     padding-left: 10px;
     font-family: 'Montserrat', sans-serif;
     font-weight: 400;
     color: rgba(166, 166, 166, 1);
     width: 500px;
     height: 55px;
     font-size: 18px;
 }
 
 #query-input:focus {
     outline-width: 0;
 }
 
 #search {
     margin: auto;
     text-align: center;
 }
 
 .buttonContainer {
     margin: auto;
     position: relative;
     width: 350px;
     height: 55px;
     text-align: center;
 }
 
 .active-state,
 .hidden-state {
     height: 50px;
     position: absolute;
     left: 0;
     top: 0;
     transition: transform 0.3s ease;
     transform-origin: center center -25px;
     -webkit-transform-origin: center center -25px;
     width: 100%;
 }
 
 .active-state {
     transform: perspective(1000px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
     ;
 }
 
 .hidden-state {
     background-color: black;
     transform: perspective(1000px) rotateX(-90deg) rotateY(0deg) rotateZ(0deg);
 }
