 /* Get angry at stuff here. */
 /*Green 36,200,183
Yellow 255,207,0
Red 234,46,77
Blue 0,105,160
Gray - 166,166,166
*/
 
 header {
     width: 100%;
     background-color: rgba(36, 200, 183, 1);
     text-align: center;
     margin-bottom: 35px;
 }
 
 .logo {
     margin: 20px;
     height: 80px;
     vertical-align: middle;
 }
 
 .chartContainer {
     width: 900px;
     height: 360px;
     margin: auto;
     margin-top: 15px;
 }
 
 #compare {
     margin-top: 10px;
     text-align: center;
     line-height: 50px;
     font-family: 'Montserrat', sans-serif;
     font-weight: 700;
     background-color: rgba(36, 200, 183, 1);
     color: white;
     width: 100%;
     cursor: pointer;
     z-index: 9999;
 }
 
 .buttonsView {
     margin: auto;
     margin-top: 25px;
     width: 600px;
     text-align: center;
 }
 
 .selectButton {
     display: inline-block;
     width: 25%;
     margin-bottom: 3px;
     font-family: 'Montserrat', sans-serif;
     background-color: rgba(36, 200, 183, 1);
     color: rgba(255, 255, 255, .5);
     cursor: pointer;
     user-select: none;
     transition: color 0.3s ease;
     height: 45px;
     line-height: 45px;
 }
 
 .buttonSelected {
     color: rgba(255, 255, 255, 1);
 }
 
 .tabSlider {
     width: 25%;
     height: 2px;
     background-color: rgba(36, 200, 183, 1);
     margin-left: 0%;
     transition: margin-left 0.5s ease;
 }
 
 #errorDisplay {
     margin: auto;
     margin-top: 10px;
     margin-bottom: 15px;
     text-align: center;
     line-height: 50px;
     font-family: 'Montserrat', sans-serif;
     font-weight: 700;
     background-color: rgba(234, 46, 77, 1);
     color: white;
     width: 100%;
     cursor: pointer;
 }
 
 #query-input {
     box-sizing: border-box;
     padding-left: 10px;
     font-family: 'Roboto', sans-serif;
     font-weight: 300;
     color: rgba(166, 166, 166, 1);
     width: 500px;
     height: 55px;
     font-size: 18px;
 }
 
 #query-input:focus {
     outline-width: 0;
 }
 
 #search {
     margin: auto;
     text-align: center;
 }
 
 .buttonContainer {
     margin: auto;
     position: relative;
     width: 350px;
     height: 55px;
     text-align: center;
 }
 
 .table {
     margin: auto;
     width: 600px;
     text-align: left;
 }
 
 thead {
     padding-top: 8px;
     border-bottom: 1px solid;
     border-color: rgba(220, 220, 220, 1);
     height: 20px;
     font-size: 13px;
 }
 
 th {
     font-family: 'Montserrat', sans-serif;
     font-weight: 400;
     color: rgba(100, 100, 100, 1);
 }
 
 tr {
     font-family: 'Roboto', sans-serif;
     font-weight: 300;
     height: 45px;
     line-height: 45px;
     border-bottom: 1px solid;
     border-color: rgba(220, 220, 220, 1);
     color: rgba(100, 100, 100, 1);
 }

 tbody {
 	margin-bottom: 50px;
 }

	.removeButton {
 	font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: rgba(166, 166, 166, 1);
    cursor: pointer;
    transition: color .3s ease;
    user-select: none;
 }
 .removeButton:hover {
 	color: rgba(234, 46, 77, 1);
 }
 
 .hideContainer {
     height: auto;
   /*  overflow-y: hidden;*/
     transition: height 1s ease;
     padding-bottom: 50px;
 }



 .tableLabel {
 	width: 200px;
 }
 
 .active-state,
 .hidden-state {
     height: 50px;
     position: absolute;
     left: 0;
     top: 0;
     transition: transform 0.3s ease;
     transform-origin: center center -25px;
     -webkit-transform-origin: center center -25px;
     width: 100%;
 }
 
 .active-state {
     transform: perspective(1000px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
     ;
 }
 
 .hidden-state {
     background-color: black;
     transform: perspective(1000px) rotateX(-90deg) rotateY(0deg) rotateZ(0deg);
 }
 
 input::-webkit-calendar-picker-indicator {
     display: none;
 }
