 /* Get angry at stuff here. */
 /*Green 36,200,183
Yellow 255,207,0
Red 234,46,77
Blue 0,105,160
Gray - 166,166,166
*/
 
 html,
 {
     max-width: 100vw;
     overflow-x: hidden;
     overflow-y: scroll;
 }
 
 header {
     position: relative;
     width: 100vw;
     background-color: rgba(36, 200, 183, 1);
     margin-bottom: 35px;
     height: 350px;
     text-align: center;
     transition: height 1s ease;
 }
 
 .headerShrink {
     height: 60px;
 }
 
 .logo {
     height: 120px;
     margin: auto;
     margin-top: 100px;
     transition: all 1s ease
 }
 
 .logoShrink {
     height: 40px;
     margin-top: 10px;
 }
 
 .title {
     color: white;
     font-family: 'Roboto', sans-serif;
     font-weight: 300;
     font-size: 30px;
     margin-top: 50px;
     opacity: 0;
     transition: opacity 0.5s ease;
 }
 
 .chartContainer {
     width: 70vw;
     height: 360px;
     margin: auto;
     margin-top: 15px;
     max-width: 960px;
     min-width: 650px;
 }
 
 #compare {
     margin-top: 10px;
     text-align: center;
     line-height: 50px;
     font-family: 'Montserrat', sans-serif;
     font-weight: 700;
     background-color: rgba(36, 200, 183, 1);
     color: white;
     width: 100%;
     cursor: pointer;
     z-index: 9999;
 }
 
 .buttonsView {
     margin: auto;
     margin-top: 25px;
     width: 600px;
     text-align: center;
 }
 
 .selectButton {
     display: inline-block;
     width: 25%;
     margin-bottom: 3px;
     font-family: 'Montserrat', sans-serif;
     background-color: rgba(36, 200, 183, 1);
     color: rgba(255, 255, 255, .5);
     cursor: pointer;
     user-select: none;
     transition: color 0.3s ease;
     height: 45px;
     line-height: 45px;
 }
 
 .buttonSelected {
     color: rgba(255, 255, 255, 1);
 }
 
 .tabSlider {
     width: 25%;
     height: 2px;
     background-color: rgba(36, 200, 183, 1);
     margin-left: 0%;
     transition: margin-left 0.5s ease;
 }
 
 #errorDisplay {
     margin: auto;
     margin-top: 10px;
     margin-bottom: 15px;
     text-align: center;
     line-height: 50px;
     font-family: 'Montserrat', sans-serif;
     font-weight: 700;
     background-color: rgba(234, 46, 77, 1);
     color: white;
     width: 100%;
     cursor: pointer;
 }
 
 #query-input {
     box-sizing: border-box;
     padding-left: 10px;
     font-family: 'Roboto', sans-serif;
     font-weight: 300;
     color: rgba(166, 166, 166, 1);
     width: 500px;
     height: 55px;
     font-size: 18px;
 }
 
 #query-input:focus {
     outline-width: 0;
 }
 
 #search {
     margin: auto;
     text-align: center;
     z-index: 9999;
 }
 
 .buttonContainer {
     margin: auto;
     position: relative;
     width: 350px;
     height: 55px;
     text-align: center;
 }
 
 .table {
     margin: auto;
     width: 600px;
     text-align: left;
 }
 
 thead {
     padding-top: 8px;
     border-bottom: 1px solid;
     border-color: rgba(220, 220, 220, 1);
     height: 20px;
     font-size: 13px;
 }
 
 th {
     font-family: 'Montserrat', sans-serif;
     font-weight: 400;
     color: rgba(100, 100, 100, 1);
 }
 
 tr {
     font-family: 'Roboto', sans-serif;
     font-weight: 300;
     line-height: 45px;
     border-bottom: 1px solid;
     border-color: rgba(220, 220, 220, 1);
     color: rgba(100, 100, 100, 1);
     transition: height 0.3s ease;
     overflow-y: hidden;
 }
 
 tbody {
     margin-bottom: 50px;
 }
 
 .removeButton {
     font-family: 'Montserrat', sans-serif;
     font-weight: 700;
     font-size: 25px;
     color: rgba(166, 166, 166, 1);
     cursor: pointer;
     transition: color .3s ease;
     user-select: none;
 }

 .tableShrink {
 	height: 45px;
 	overflow-y: hidden;
 	transition: height 0.3s ease;
 }
 
 .removeButton:hover {
     color: rgba(234, 46, 77, 1);
 }
 
 .hideContainer {
     height: 0px;
     overflow-y: hidden;
     transition: height 2s ease;
 }
 
 .reveal {
     height: 600px;
 }
 
 .autoHeight {
     height: auto;
     margin-bottom: 50px;
 }
 
 .active-state,
 .hidden-state {
     height: 50px;
     position: absolute;
     left: 0;
     top: 0;
     transition: transform 0.3s ease;
     transform-origin: center center -25px;
     -webkit-transform-origin: center center -25px;
     width: 100%;
 }
 
 .active-state {
     transform: perspective(1000px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
     ;
 }
 
 .hidden-state {
     background-color: black;
     transform: perspective(1000px) rotateX(-90deg) rotateY(0deg) rotateZ(0deg);
 }
 
 input::-webkit-calendar-picker-indicator {
     display: none;
 }
 
 @media only screen and (max-width: 720px) {
     .chartContainer {
         text-align: left;
         width: 98%;
         min-width: 0px;
     }
     .buttonsView {
         margin-top: 25px;
         width: 100%;
         text-align: center;
     }
     .table {
         width: 90%;
     }
 }

 @media only screen and (max-width: 550px) {
 	
 	.buttonContainer {
 		width: 87.5%;
 	}

 	#query-input {
 		width: 90%;
 	}

 	header {
 		height: 200px;
 	}

 	.logo {
 		margin-top: 16px;
 	}

 		.logoShrink {
 		margin-top: 8px;
 	}


 	.title {
 		margin-top: 18px;
 	}

  
 }

 @media only screen and (max-width: 470px) {
 	
 	.selectButton {
   font-size: 10px;
 }

 th {
 	font-size: 10px;
 }

 td{
 	font-size: 12px;
 }

 .headerShrink {
 	margin-bottom: 15px;
 }

 .title {
 	font-size: 20px;
 }
  
 }